<div class="wrapper">
  <div class="formContent">
    <h2>Personal Data</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "shared/error_messages", resource: resource %>
        <%= f.email_field :email, autofocus: true, placeholder: "email", disabled: true %>
        <%= f.text_field :first_name, autofocus: true, placeholder: "first name" %>
        <%= f.text_field :last_name, autofocus: true, placeholder: "last name" %><br />
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <%= f.password_field :password, placeholder: "New Password" %>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Repeat" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password to confirm changes" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>