<%= stylesheet_link_tag "login" %>
<div class="wrapper fadeInDown">
 <div class="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div>
      <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.text_field :email, autocomplete: "email", class: "fadeIn first", placeholder: "login"%>
      <%= f.password_field :password, class: "fadeIn first", placeholder: "password" %>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me, class: "fadeIn second" if devise_mapping.rememberable?%>
      </div>
      <%= f.submit "Log in", class: "fadeIn third" %>
    <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
       <%= render "shared/links" %>
    </div>
  </div>
</div>