<%= javascript_pack_tag 'registrations' %>
<h2>Sign up Lawyer</h2>

<%= render 'layouts/form', locals: {resource: resource} do |f|%>
  <div class="field">
    <%= f.fields_for :location, resource.build_location do |l| %>
      <%= l.text_field :postal, value: postal, placeholder: "location postal" %>
      <div class="funkyradio row justify-content-md-center">
      <div class="funkyradio-default col-5">
        <input type="checkbox" id="toggle_location_params" checked>
        <label for="toggle_location_params">location exists</label><br>
      </div>
      </div>
      <div id="location_exists_tag" class="fadeInDown">
        <%= l.text_field :authentication, placeholder: "location authentication" %>
      </div>
      <div id="location_new_tag" style="display: none;" class="fadeInDown">
        <%= l.text_field :name, placeholder: "location name" %>
        <%= l.text_field :adress, placeholder: "location adress" %>
      </div>
    <% end %>
  </div>
<% end %>