<h2>Sign up Client</h2>

<%= render 'layouts/form', locals: {resource: resource} do |f|%>
  <div class="field">
    <%= f.fields_for :location, resource.build_location do |l| %>
      <%= l.text_field :postal, value: postal, placeholder: "private postal" %>
      <%= l.text_field :adress, placeholder: "adress" %>
    <% end %>
  </div>
<% end %>
