<h2>Sign up Paralegal</h2>

<%= render 'layouts/form', locals: {resource: resource} do |f|%>
  <div class="field">
    <%= f.fields_for :location, resource.build_location do |l| %>
      <%= l.text_field :postal, value: postal, placeholder: "location postal" %>
      <%= l.text_field :authentication, placeholder: "location authentication" %>
    <% end %>
  </div>
<% end %>