
<div class="wrapper">
  <div class="formContent">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: "off" }) do |f| %>
      <%= render "shared/error_messages", resource: resource %>
        <%= f.email_field :email, autofocus: true, placeholder: "email" %>
        <%= f.text_field :first_name, autofocus: true, placeholder: "first name" %>
        <%= f.text_field :last_name, autofocus: true, placeholder: "last name" %><br />
        <div class="container">
          <div class="funkyradio row justify-content-md-center">
            <div class="funkyradio-male col-5">
              <%= f.radio_button :gender, 'male' %>
              <%= f.label :gender_male, "Male" %>
            </div>
            <div class="funkyradio-female col-5">
              <%= f.radio_button :gender, 'female' %>
              <%= f.label :gender_female, "Female" %>
            </div>
          </div>
        </div>
        <%= f.text_field :birthday, placeholder: 'birthday: dd/mm/yyyy', class: 'flatpickr' %>
        <%= f.password_field :password, placeholder: "password" %>
        <%= f.password_field :password_confirmation, placeholder: "repeat password" %>
      <%= yield f if block_given?%>
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>