<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Jufa", home_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <ul class="nav pull-right">
      <% if user_signed_in?%>
        <%= link_to "My Profile", edit_registration_path(current_user.type.downcase), class: "nav-link" %>
      <% end %>
      <% unless user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sign Up
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Client", new_registration_path(:client), class: "dropdown-item" %>
            <%= link_to "Lawyer", new_registration_path(:lawyer), class: "dropdown-item" %>
            <%= link_to "Paralegal", new_registration_path(:paralegal), class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_session_path(current_user), method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
