<!DOCTYPE html>
<html>
  <head>
    <title>Jufa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <div class="container-fluid" style="min-height:800px;">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
